.Register{
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.618);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px;
}
.row-container{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 15%;
    margin-bottom: 4%;
}
label{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.718);
}
.field-container{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.submitButton{
    width: 20%;
    height: 10%;
    color: white;
    background-color: gray;
    border-radius: 10px;
    border: none;
}
.submitButton:hover{
    transform: scale(1.2);
    background-color: black;
}
/* media queries for medium-sized devices */
@media screen and (max-width: 1024px){
    .Register{
        width: 85vw;
        height: 75vh;
        font-size: 24px;
    }
    input, select{
        height: 35%;
        font-size: 22px;
    }
    .row-container{
        gap: 5%;
        height: 15%;
    }
    .field-container{
        width: 38%;
        height: 100%;
    }
    .submitButton{
        width: 45%;
        height: 10%;
        font-size: medium;
    }
}
/* media queries for small devices */
@media screen and (max-width: 600px){
    .Register{
        width: 95vw;
        height: 75vh;
        font-size: medium;
    }
    .row-container{
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 20%;
        gap: 0;
    }
    .field-container{
        width: 70%;
        height: 45%;
        margin-bottom: 2%;
    }
    input, select{
        height: 50%;
    }
    .submitButton{
        height: 10%;
    }
  
  }